<a href="https://colab.research.google.com/github/ortenburger/apoHackathon/blob/master/Fuzzy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!pip install fuzzywuzzy[speedup]
import os, json
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')
os.chdir("gdrive/My Drive/Hackathon")

Requirement already satisfied: fuzzywuzzy[speedup] in /usr/local/lib/python3.6/dist-packages (0.17.0)
Requirement already satisfied: python-levenshtein>=0.12; extra == "speedup" in /usr/local/lib/python3.6/dist-packages (from fuzzywuzzy[speedup]) (0.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-levenshtein>=0.12; extra == "speedup"->fuzzywuzzy[speedup]) (41.0.1)
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

FileNotFoundError: ignored

In [9]:
from fuzzywuzzy import fuzz
fuzz.ratio('Karl-Ferdinand-Broll-Str. (D)', 'Karl-Ferdinand-Broll-Straße')

86

In [0]:

with open("locations.json") as json_file:  
    data = json.load(json_file)

In [71]:
print(data[100])
comparedata = []
for date in data:
  address = date['address'].split(',')
  try:
    ort = address[ -2].split(' ', 2)[2].strip()
  except:
    print(address)
    ort = None
    address = [None,None,None]
  comparedata.append({'IK': date['IK'], 'Ort': ort, 'Strasse': address[0].strip()})
print(comparedata[100])

{'IK': '260102058', 'year': '2016', 'standort': '00', 'address': 'Röpersberg 47 , 23909 Ratzeburg , Germany'}
{'IK': '260102058', 'Ort': 'Ratzeburg', 'Strasse': 'Röpersberg 47'}

In [0]:
df = pd.read_excel('Bilanzdaten_Krankenhäuser.xlsx')
df['IK'] = None

In [81]:
!ls

 2013_Qualitätsberichte.zip	 adresses2019.txt
 2013_Qualitätsberichte.zip.h5	 Bilanzdaten.h5
 2014_Qualitätsberichte.zip	 Bilanzdaten_Krankenhäuser.xlsx
 2015_Qualitätsberichte.zip	 locations.json
 2016_Qualitätsberichte.zip	'Qualitätsberichte (1).h5'
 2017_Qualitätsberichte.zip	 Qualitätsberichte.h5
 adresses2019.json

In [85]:
from fuzzywuzzy import fuzz
for index, row in df.iterrows():
  #print(row['Ort'], row['GKZ Straße'])
  for line in comparedata:
    if fuzz.ratio(str(row['Ort']), str(line['Ort'])) > 90:
      if fuzz.ratio(str(row['GKZ Straße']), str(line['Strasse'])) > 60:
        df.loc[index,'IK'] = line['IK']
        break
df.head()

   Unnamed: 0  ...         IK
0         1.0  ...       None
1         2.0  ...       None
2         3.0  ...       None
3         4.0  ...  260711658
4         5.0  ...  260321781

[5 rows x 43 columns]

In [0]:

#df['Umsatzerlöse\ntsd EUR\nLetztes verf. Jahr'] = df['Umsatzerlöse\ntsd EUR\nLetztes verf. Jahr'].astype(float)
df = df.loc[:,'Umsatzerlöse\ntsd EUR\nLetztes verf. Jahr'].apply(pd.to_numeric, errors='coerce')

In [93]:
store = pd.HDFStore('Bilanzdaten.h5')
store.append('Bilanzen', df)
store.close()

TypeError: ignored