<a href="https://colab.research.google.com/github/ortenburger/apoHackathon/blob/master/presFuzzy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install fuzzywuzzy[speedup] 
!pip install -U tables
import os, json
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')
os.chdir("gdrive/My Drive/Hackathon")

Collecting fuzzywuzzy[speedup]
  Downloading https://files.pythonhosted.org/packages/d8/f1/5a267addb30ab7eaa1beab2b9323073815da4551076554ecc890a3595ec9/fuzzywuzzy-0.17.0-py2.py3-none-any.whl
Collecting python-levenshtein>=0.12; extra == "speedup" (from fuzzywuzzy[speedup])
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 6.5MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-levenshtein>=0.12; extra == "speedup"->fuzzywuzzy[speedup]) (41.0.1)
Building wheels for collected packages: python-levenshtein
  Building wheel for python-levenshtein (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built python-levenshtein
Installing collected packages: python-levenshtein, fuzzywuzzy
Successfully installed fuzzywuzzy-0.17.0 python-levenshtein-0.12.0
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
from fuzzywuzzy import fuzz

fuzz.ratio('Karl-Ferdinand-Broll-Str. (D)', 'Karl-Ferdinand-Broll-Straße')

86

In [5]:

locs =  pd.read_hdf('df_kkh.h5')
locs.head()

                          IK  ...                                           Location
260000066_00_2013  260000066  ...  [{'address_components': [{'long_name': '1', 's...
260100023_00_2013  260100023  ...  [{'address_components': [{'long_name': '1', 's...
260100034_00_2013  260100034  ...  [{'address_components': [{'long_name': '17', '...
260100089_00_2013  260100089  ...  [{'address_components': [{'long_name': '33', '...
260100125_00_2013  260100125  ...  [{'address_components': [{'long_name': '8', 's...

[5 rows x 10 columns]

Create a compare Array

In [6]:

comparedata = []
for index, date in locs.iterrows():
  comparedata.append({'IK': date['IK'], 'Ort': date['Ort'], 'Strasse': date['Strasse'], 'Name': date['Name']})
print(comparedata[100])

{'IK': '260200273', 'Ort': 'Bargfeld-Stegen', 'Strasse': 'Kayhuder Straße', 'Name': 'Heinrich Sengelmann Krankenhaus (Bargfeld-Stegen)'}

In [10]:
df = pd.read_excel('Bilanzdaten_Krankenhäuser.xlsx')
df['IK'] = None
df.head()

   Unnamed: 0  ...    IK
0         1.0  ...  None
1         2.0  ...  None
2         3.0  ...  None
3         4.0  ...  None
4         5.0  ...  None

[5 rows x 43 columns]

Fuzzy Matching of Addresses to IKs

In [11]:
from fuzzywuzzy import fuzz
for index, row in df.iterrows():
  #print(row['Ort'], row['GKZ Straße'])
  for line in comparedata:
    if fuzz.ratio(str(row['Ort']), str(line['Ort'])) > 90:
      if fuzz.ratio(str(row['GKZ Straße']), str(line['Strasse'])) > 60:
        df.loc[index,'IK'] = line['IK']
        break
for index, row in df.iterrows():
  if not row['IK']:
    for line in comparedata:
      if fuzz.ratio(str(row['Ort']), str(line['Ort'])) > 90:
        if fuzz.ratio(str(row['Name des Unternehmens']), str(line['Name'])) > 50:
          df.loc[index,'IK'] = line['IK']
          break

df.head()

   Unnamed: 0  ...         IK
0         1.0  ...  260200024
1         2.0  ...       None
2         3.0  ...  260913457
3         4.0  ...  260711658
4         5.0  ...  260320564

[5 rows x 43 columns]

In [0]:
df.to_csv('Bilanzen.tsv', sep='\t', encoding='utf-8')

In [17]:
i = 0
for index, row in df.iterrows():
  if not row['IK']:
    i+=1
print("Couldn't match ", i, " of ", len(df), "Datarows to an IK")

Couldn't match  1470  of  3271 Datarows to an IK